<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Admin dash</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
</head>
<body class="w3-light-grey">


<!-----side bar here--------->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:260px;" id="mySidebar"><br>
    <div class="w3-container w3-row">
        <div class="w3-col s8 w3-bar"><br>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
        </div>
    </div>
    <hr>
    <div class="w3-container">
        <h5>BOOKING PANNEL</h5>
    </div>
    <div class="w3-bar-block">
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
        <br>
        <a th:href="@{/index}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-home fa-fw"></i>  Back home</a>

    </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-list"></i> Booking Account</b></h5>
    </header><br><br>
    <a th:href="@{/saveOrder}"><button class="w3-button w3-black"style="margin-left: 680px">Add new order</button></a>
    <!-----booking form--------->
    <div class="w3-quarter" style="width: 100%;box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;">
        <div class="w3-container w3-money w3-padding-16">

            <table class="w3-table w3-bordered" style="font-size: 11px">
                <thead class="w3-black">
                <tr>
                    <th>NO#</th>
                    <th>Customer-Name</th>
                    <th>Email</th>
                    <th>Phone-No#</th>
                    <th>Hall-Category#</th>
                    <th>Status#</th>
                    <th>Taken-From#</th>
                    <th>Up-To#</th>
                    <th>ACTIONS</th>
                </tr>
                </thead>
                <tbody th:with="count=0">
                <tr th:each="book: ${booking}">
                    <td   th:text="${count}" th:with="count=${count + 1}" ></td>
                    <td th:text="${book.custName}"></td>
                    <td th:text="${book.email}"></td>
                    <td th:text="${book.phone}"></td>
                    <td th:text="${book.hallCategory}"></td>
                    <td th:text="${book.status}"></td>
                    <td th:text="${book.booked_from}"></td>
                    <td th:text="${book.upto}"></td>
                    <td>
                        <a th:href="@{/OrderEdit/{id}(id=${book.id})}"><button class="w3-button w3-yellow"><i class="fa fa-pencil"></i></button></a>
                        <span>
                            <a th:href="@{/deleteOrder/{id}(id=${book.id})}"><button class="w3-button w3-red"><i class="fa fa-trash-o"></i></button></a></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="w3-clear"></div>
        </div>
    </div>
    <!------ended--------->
</div>



</div>
<!---ends--->
<!-- End page content -->
</div>



<script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
    }
</script>

</body>
</html>